* {
    font-family: 'Amatic SC', cursive;
    cursor: url('../misc/cursor.cur'), auto;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    margin-block-start: 0 !important;
    margin-bottom: 0;
}

h2 {
    margin-block-start: 0 !important;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.hero-image {
    background-image: url("../images/doarme.jpg");
    height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrolldiv {
    height: 100%;
}

nav {
    background: transparent;
    text-align: left;
    margin-left: 2%;
    /* margin: 0 auto; */
    vertical-align: middle;
    padding-top: 3%;
}

.navlink {
    text-decoration: none;
    text-emphasis: none;
    font-size: 300%;
    margin: 2%;
    padding-top: 1%;
    text-emphasis: none;
    color: whitesmoke;
}

.table-title {
    text-align: center;
    align-content: center;
    width: 100%;
    display: inline block;
    font-size: 200%;
    background: #6D4621;
    color: white;
}

.table {
    align-content: center;
    /* width: 100%; */
    font-size: 300%;
    background: #6D4621;
    color: lightgrey;
}

.image {
    width: 350px;
    height: 350px;
    border-radius: 5%;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td {
    position: relative;
    width: 32%;
}

.buttons {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    transition: all 0.5s ease-out;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons.buttons-active {
    top: 15px;
    opacity: 1;
}

.delete-image {
    background: url("../images/delete.png");
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: none;
}

.src-label {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    font-size: 50%;
}

.edit-image {
    background: url("../images/edit.png");
    position: absolute;
    right: 0;
    top: 32px;
    width: 32px;
    height: 32px;
    border: none;
    transition: all 0.5s ease-out;
}

.edit-label {
    position: absolute;
    top: 18px;
    right: 38px;
    opacity: 0;
    transition: all 0.5s;
}

.edit-label.edit-label-active {
    opacity: 1;
    right: 38px;
}

.add-button {
    background: url("../images/plus.png");
    width: 64px;
    height: 64px;
    border: none;
    display: inline-flex;
    position: relative;
    top: 10px;
}

.add-image-label {
    font-size: 100%;
    opacity: 0;
    /* margin-left: 70px; */
    transition: all 0.5s;
    margin-bottom: 20px;
}

.add-image-label.add-image-label-active {
    opacity: 1;
    transition: all 0.5s;
}

#catsTable {
    font-size: 100%;
}

.page-buttons-container {
    background: #6D4621;
}

.page-button {
    text-align: center;
    font-size: 150%;
    color: black;
    width: 48px;
    height: 48px;
    border: none;
    text-align: center;
    margin: 4px 2px;
    border-radius: 24px;
}